p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

h1.title {
  text-align: right;
  font-size: 38px;
  color:#00008B;
  font-family: Sans-serif;
  width: 100%;
}

h1 {
  text-align: right;
  float: right;
  width: 100%;
}


h2 {
  display: inline-block;
  text-align: right;
  width: 100%;
  text-decoration: underline;
}

introhead {
  float: left;
  text-align: left;
  font-size: x-large;
  width: 100%;
  text-decoration: underline;
  color: #00008B;
}

introtext {
  float: left;
  width: 100%;
  font-size: 1.1em;
}

subtitle {
  float: right;
  text-align: right;
  font-size: x-large;
  width: 100%;
}
  

.book .book-summary ul.summary li a {
    display: list-item;
    border-bottom: none;
    color: #364149;
    background: 0 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
    margin: 0px;
    font-size: medium;
}

.book .book-summary ul.summary li {
    display: list-item;
    border-bottom: none;
    color: #364149;
    background: 0 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
    margin: 0px;
    text-align: left;
    font-size: medium;
    width: 100%;
}

.book .book-body .page-wrapper .page-inner section.normal h3 {
    font-size: 1.17em;
    float: right;
    width: 70%;
    font-weight: normal;
}

h4 {
  float: left;
  width: 100%;
  font-weight: bold;
  font-family: Sans-serif;
}


h5left {
  text-align: left;
  float: left;
  width: 29%;
  font-size: 1.17em;
 }

h5right{
  float: right;
  width: 70%;
  font-size: 1.17em;
}

li{
  font-size: 1.17em;
  float: right;
  width: 70%;
  font-weight: normal;  
}

s4large{
  float: right;
  width: 70%;
  font-size: 1.4em;
  font-weight: bold;
}

.verticaltext{
    width:1px;
    word-wrap: break-word;
    font-family: monospace; /* this is just for good looks */
    white-space:pre-wrap; /* this is for displaying whitespaces including Moz-FF.*/
}

th, td { border: 1px solid black }
